body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  font-size:20px ;
  background-color: #f5f5E8;

}
@tailwind base;
@tailwind components;
@tailwind utilities;ى
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{

}
html {
  scroll-behavior: smooth;
 
}
//font
.almarai-light {
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.almarai-regular {
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.almarai-extrabold {
  font-family: "Almarai", sans-serif;
  font-weight: 800;
  font-style: normal;
}


.color-body{
  height:100vh;
  background-color: #f5f5E8;
}

.rectangle {
  height:600px;
  border-radius:15px;
  background-color:#ffffff;
  box-shadow:1px 4px 4px 1px rgba(85,85,85,0.25);
}
.shadowcus{
  box-shadow:1px 4px 4px 1px rgba(85,85,85,0.25);
}